---
import Logo from "@/components/Logo.astro";
import Button from "@/components/Button";

import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 px-8 lg:px-0">
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <a class="col-span-1" href="/">
            <Logo class="w-10 h-auto" />
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4">
                <li>
                    <a class=" hover:underline" href="/info/">
                        INFO
                    </a>
                </li>
                <li>
                    <a class=" hover:underline" href="/archivo/">
                        ARCHIVO
                    </a>
                </li>
                <li>
                    <a class=" hover:underline" href="#">
                        FINALISTA
                    </a>
                </li>
            </ul>
        </nav>
        <Button
            className="md:py-2 md:ml-auto md:text-base lg:text-base"
            url="https://drive.google.com/file/d/1D7IvIqMyqAoG58fuk8bc0JvhAmrWBbOK/view"
        >
            {i18n.HEADER_BUTTON}
        </Button>
    </div>
</header>